/* scrollbar.css */

.scrollable {
  overflow-x: scroll;
}

.scrollable::-webkit-scrollbar {
  height: 8px; 
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.scrollable::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
