APP_CODE=p+galaxy-app
APP_PATH=galaxy
APP_ENV=development
APP_HOST=http://localhost:8001
API_URL=https://api-pr-2000.ode.psychplus.dev
MOCK_API_URL=http://localhost:8080
CLINICAL_URL=http://localhost:8001
PATIENT_URL=http://localhost:8002
REVCYCLE_URL=http://localhost:8003
LOGIN_ENDPOINT=http://localhost:8080/api/login