APP_CODE=p+clinical-app
APP_PATH=clinical
APP_ENV=development
API_URL=http://localhost:8080
MOCK_API_URL=http://localhost:8080
CLINICAL_URL=http://localhost:8001
PATIENT_URL=http://localhost:8002
REVCYCLE_URL=http://localhost:8003
LOGIN_ENDPOINT=http://localhost:8080/api/login