.ql-container.ql-snow {
  border-radius: 10px !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  background-color: white !important;
}
.ql-container.ql-snow:not(.ql-disabled) {
  height: 10rem !important;
}
.ql-active {
  background-color: #d9e2fc !important;
  width: auto !important;
  border-radius: 2px !important;
}
.react-tags__tag {
  background-color: white !important;
  border: 1px solid #dddde3 !important;
  height: 24px !important;
  padding: 2px 4px !important;
  font-size: 14px !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
}
.react-tags__tag:hover {
  color: black !important;
}
.react-tags__tag::after {
  display: none !important;
}
.react-tags__combobox {
  margin: 0 !important;
}
.rt-TabsTriggerInner:hover {
  background-color: transparent !important;
}
.rt-BaseTabListTrigger:hover .rt-TabsTriggerInner {
  background-color: transparent !important;
}
.react-tags__list {
  display: flex !important;
  gap: 2px !important;
  flex-wrap: wrap;
}
