@layer tw_base, radix_ui, tw_components_utils, base;

@import '@radix-ui/themes/styles.css' layer(radix_ui);

@layer tw_base {
  @tailwind base;
}

@layer tw_components_utils {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  html,
  body {
    height: 100%;
  }
  /* to remove the toggle inside the number type input */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer radix_ui {
  .radix-themes {
  }
}
