.rt-TabsTrigger:where([data-state='active'])::before {
    content: none;
}

.rt-TabsTrigger:where([data-state='active']) {
    background-color: white;
}

.rt-TabsTrigger:where(:hover) :where(.rt-TabsTriggerInner) {
    background-color: transparent;
}

.rt-CheckboxButton:where(.rt-variant-surface):where([data-state='checked']){
    background-color: #101D46;
}

.rt-BaseButton:where(.rt-variant-surface){
    box-shadow: none;
}
